<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpplatformhandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="node.exe" 
                  arguments="node_modules\next\dist\bin\next start -p 5003" 
                  startupTimeLimit="30" 
                  startupRetryCount="3" 
                  stdoutLogEnabled="true" 
                  stdoutLogFile=".\logs\stdout"
                  rapidFailsPerMinute="10">
      <environmentVariables>
        <environmentVariable name="NODE_ENV" value="production" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
